@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
}

:root {
  --bg: #111111;
  --bg2: #2A2A2A;
  --text: #EEEEEE;
  --text2: #B4B4B4;
  --border: #484848 
}

body {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  height: 100vh;
  width: 100vw;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-weight: 600
}
p, a {
  font-weight: 300
}
